*.zip
*.tar.gz
.fitps_built_pkg_path
.stage*_built_package_path
.fitps_stage*_built_package_path
chatgpt-bundles/
.Rhistory
.Rhistory*
.RData
.Rproj.user/
Rplots.pdf
.DS_Store
vignettes/*.html
vignettes/*files/
vignettes/*.pdf
